  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,200;1,400&display=swap');

  *{
    margin:0;
    padding: 0;
    box-sizing: "Poppins", sans-serif;

  }

  section{
    position: relative;
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(coffee_2.jpg)no-repeat;
    background-size: cover;
    background-position: center;
  }

  header{
    position: relative;
    top: 0;
    width: 150vh;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo {
    position:relative;
    color: #4bc270;
    font-size:30px ;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }

  header .navigation a{
    color:#8cdaa9;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition-property: background;
  

  }

  header .navigation a:not(:last-child){
    margin-right: 30px;

  }

  header .navigation a:hover{
    background: #0e0e0e;

  }

  .Content{
    max-width:650px;
    margin: 60px 100px;
  }

  .content  .info-h2{
    color:#642552;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .content .info h2 span{
  color: #2a8a52;
  font-size: 50px;
  font-weight: 600;
  }

 .content .info p{
  color: #a41d1f;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
 }